<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" href="./reset-password.css">

<body>
    <h1>Восстановление доступа</h1><hr/>
    
    <div class="message-box">
        <p>Введите код для восстановления пароля <b><i><%= code %></i></b></p>
        <span>В результате этого действия у вас будет возможность восстановить аккаунт в приложении Working Work</span>
        <img src="./logo.jpg">
        <span>Ссылка действительна в течении <b>5 минут</b></span>
    </div>
</body>
</html>